{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Nom du site{% endblock %}

{% block body %}
    <div style="background-color: #5eb5e0">
        {% if editMode %}
            Modification d'un événement
        {% else %}
            Création d'un événement
        {% endif %}
        <hr>
        <p>{{ form_start(form) }}
            {{ form_label(form, 'Titre du nouvel événement') }}
            {{ form_widget(form.title, {'attr': {'placeholder': 'Nouvel événement'}}) }}
            <br>
            {{ form_label(form, 'Description de l\'événement') }}
            {{ form_widget(form.description, { 'attr': {'placeholder': "Quel est le contexte de cet événement ?", 'rows': 7} }) }}
            {{ form_widget(form) }}
            <br>
            {{ form_widget(form.date) }}
            {{ form_widget(form) }}
            <br>
            {{ form_widget(form.category) }}
            {{ form_widget(form) }}
            {% if editMode %}
                <button type="submit" class="btn btn-success">Modification</button>
            {% else %}
                <button type="submit" class="btn btn-success">Nouvel événement</button>
            {% endif %}
            {{ form_end(form) }}</p>
    </div>
{% endblock %}